@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL,GRAD,opsz@100..700,0..1,-50..200,20..48&display=swap');

@import "tailwindcss";
@config "../tailwind.config.js";

@layer base {
  body {
    background-color: #f3faff;
    color: #071e27;
    @apply antialiased min-h-screen;
    font-family: 'Inter', sans-serif;
  }
}

/* Material Symbols alignment fix */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  vertical-align: middle;
}
